<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" routerLink="/home">[Site Name]</a>

    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" href="#">About</a>
        <a class="nav-item nav-link" href="#">Contact</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        
        <a class="nav-item nav-link" routerLink="/login">
          Iniciar Session
        </a>
      </div>
    </div>
  
</nav>